.main_cont{
  --space-size: 2rem;
  --gap-size: 1rem;
  height: 100%;
  display: flex;
  gap: var(--gap-size);
  color: var(--chart-main-color);
}

.chart_cont{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar_cont{
  height: 100%;
  width: 100%;
  display: flex;
}

.row_cont {
  width: var(--space-size);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.row span{
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: .8rem;
  width: var(--space-size);
  margin-right: 2px;
}

.row:nth-child(1){
  opacity: var(--var-opacity);
}

.row::after {
  position: absolute;
  left: var(--space-size);
  content: '';
  display: block;
  width: calc(100% - var(--space-size));
  height: 1px;
  background-color: var(--chart-main-color);
}

.chart {
  width: calc(100% - var(--space-size));
  height: 100%;
  display: flex;
  gap: var(--gap-size);
  padding: calc((var(--space-size) * .25)) var(--gap-size);
}

.chart_item{
  flex: 1;
  display: flex;
  align-items: end;
  position: relative;
}

.chart_item::before {
  content: '';
  width: 1px;
  height: 100%;
  display: block;
  background-color: var(--chart-main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.bar_line{
  flex: 1;
  z-index: 10;
}

.index_cont {
  width: calc(100% - var(--space-size));
  min-height: calc((var(--space-size) * 2.25));
  display: flex;
  padding: 0 var(--gap-size);
  gap: var(--gap-size);
}

.name {
  position: relative;
  top: calc(var(--gap-size) * -.5);
  width: 100%;
  height: calc(var(--gap-size) * 2);
  font-size: .8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name::before{
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--chart-main-color);
}

.legends_cont {
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: .3rem;
  padding-bottom: calc(var(--space-size) * 2.5);
}

.legend {
  display: flex;
  gap: .5rem;
  line-height: 20px;
}

.box {
  height: 20px;
  aspect-ratio: 1 / 1;
}

.legend span {
  width: 100%;
  font-size: .8rem;
}

:where(.bar_line:nth-child(6n + 1), .legend:nth-child(6n + 1) div){
  background-color: var(--chart-color-1) ;
}
:where(.bar_line:nth-child(6n + 2), .legend:nth-child(6n + 2) div){
  background-color: var(--chart-color-2);
}
:where(.bar_line:nth-child(6n + 3), .legend:nth-child(6n + 3) div) {
  background-color: var(--chart-color-3);
}
:where(.bar_line:nth-child(6n + 4), .legend:nth-child(6n + 4) div) {
  background-color: var(--chart-color-4);
}
:where(.bar_line:nth-child(6n + 5), .legend:nth-child(6n + 5) div) {
  background-color: var(--chart-color-5);
}
:where(.bar_line:nth-child(6n + 6), .legend:nth-child(6n + 6) div) {
  background-color: var(--chart-color-6);
}